<form [formGroup]="form">
    <div class="container">
        <div class="left">
            <label for="sum">{{currencyFrom | async}}</label>
            <input (focus)="amount.reset()" type="number" id="sum" formControlName="amount">
        </div>
        <div class="change">
            <img (click)="changeCurrency()" src="../../../../assets/img/icons8-refresh-30.png" alt="refresh icon">
        </div>
        <div class="right">
            <span>{{currencyTo | async}}</span>
            <span>{{res | async}}</span>
        </div>
    </div>
</form>

